body{
background:darkred;
}

form label {
     display: block;
     font-size: 20px;
     color:black
       
}
form input{
  display: block;
  background:darkred;
  color:black;
  font-weight:bold;
} 
